<%- include('../partials/header') %>
  <h1><%=title%></h1>

  
      <p>This webpage was made using Node.js and ejs in repl.it. Routes you can try hitting are linked in the nav bar.</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
<%- include('../partials/footer') %>